body{
    margin: 0;
    padding: 0;
    background: #bdceff;
    
}

.menu-link{
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Roboto, sans-serif;
    color: black;
   text-align: center;
   display: block;
   padding: 25px 20px;
   transition: all 1s ease-out;
}
.menu-item{
    
    display: inline-block;   
}
.title-wrapper{
    margin: 0;
    background: #bdceff;
    border-bottom: 3px solid #005aad;
    padding: 10px;
  
   
}

.title{
    margin: 0;
    width: 100%;
    font-weight: 888;
    font-family: Roboto, sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    transition: color 1s ease-out;
}
.menu{
    list-style: none;
    background-color: #bdceff;
    border-top: 3px solid #005aad;
    padding: 0;
    margin: 0;
    text-align: center;
}


.image{
    width: 100%;
}
.title:hover{
    color: #1f93ff;
}
.menu-link:hover{
    color: #1f93ff;
    font-size: 2.5em;
}